input[type='range'] {
	-webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
	width: 290px;
	height: 2px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 10px;
	width: 20%;
	border-radius: 0%;
	background: #000;
	margin-top: -4px;
}

input[type='range']:focus {
	outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
	background: #ccc;
}

.carousel-container-with-scrollbar {
	/* padding-left: 100px; */
	width: 88%;
	/* left: 5%;
	right: 5%; */
	/* padding-right: 400px; */
	padding-bottom: 30px;
	/* overflow: visible !important; */
}

.custom-slider {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* padding: 0 20px; */
}

.custom-slider__input {
	width: 100%;
}

/* .right-arrow-spacing {
	position: relative;
	width: 10%;
}

.left-arrow-spacing {
	position: relative;
	right: 10%;
} */

.custom-carousel {
	/* position: relative; */
}

.root-slider {
	flex-direction: row;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
