.CustomCard__TimeLabel {
	color: #009bff;
	background: #ececec;
}

.unselectable-image {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
