.editable-textfield {
	color: black;
	background: #ECECEC;
	width: 100%;
	height: 50px;
	/* @media screen {
		
	} */
}

.textfield-label{
	height: 50px;
	width: 100%;
	background-color: '#F3E9FC';
	background: #ECECEC;
	cursor: pointer;
	/* @media screen {
		
	} */
}
