.textarea-tag {
  padding: 5px 5px;
	border: 2px solid #eee !important;
  background: #ececec;
  outline: none;
  width: 100%;
  resize: none;
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
	line-height: 22px;
}

.chip {
	background-color: white !important;
}

.chip-container{
	padding: 5px;

  outline: none;
	border: 2px solid #eee !important;
}