.img {
  background: url(images/markdown-bar.png);
  background-repeat: no-repeat;
<<<<<<< HEAD
  height: 31px;
  width: 100%;
=======
	height: 31px;
>>>>>>> 1c433ff056756571acdcf089ce7ee5fc2a435da5
	margin-bottom: 0;
  // border: 1px solid #eee;
}