form {
    margin: 15px;
}

.container {
    float: left;
}

.container-left {
    float: left;
    background-color: red;
}

.container-right {
    float: left;
    width: 50%;
}

label {
    width: 100%;
}

