form {
  margin: 20px;
}
.container {
  float: left;
  width: 40%;
  margin-right: 50px;
}
@media (max-width: 1200px) {
  .container {
    float: left;
    width: 100%;
    margin-right: 15px;
  }
}

.group {
  clear: both;
}

label {
  width: 100%;
}

input {
  padding: 5px 5px;
  border: 2px solid #eee;
  background-color: #eee;
  outline: none;
  width: 100%;
}

.textarea-comment {
  padding: 5px 5px;
  border: 2px solid #eee;
  background: #ececec;
  outline: none;
  width: 100%;
  resize: none;
  height: 100px;
}

.textarea-tag {
  padding: 5px 5px;
  border: 2px solid #eee;
  background: #ececec;
  outline: none;
  width: 100%;
  resize: none;
  overflow: hidden;
}

input[type="text"]:focus,
textarea:focus {
  border: 2px solid #ddd;
  background-color: #ddd;
  transition: 0.3s;
}
