.text {
	font-weight: bold;
	text-align: center;
}

.titleWrapper {
	display: flex;
	align-items: center;

	svg {
		margin-right: 8px;
	}
}

.icon {
	height: 30px;
	path {
		fill: black;
	}
	polygon {
		fill: black;
	}
	rect {
		fill: black;
	}
}

.button {
	text-align: center;

	button {
		background-color: #009cff;
		border-color: #009cff;
		width: 100px;
	}
}

.iconsWrapper {
	display: flex;
	justify-content: space-evenly;
}

.iconTextWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;

	span {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
	}
}
