.btn-tab {
  background-color: #333333 !important;
}

.btn.active {
	background-color: #0099ff !important;
	border-color: #0099ff !important;
	box-shadow: none !important;
}


.stepper-inner-box {
	display: inline-block;
}

.stepper-outer-box {
  text-align: center;
}


.container-tabs-content {
  background-color: white;
  height: 100%;
  width: 100% !important;
  margin: 3px !important;
  margin-top: 0 !important;
}

.container-buttons-tab { 
  display: flex;
  width: 70%;
}

.tabs {
  display: flex;
  flex-direction: column;
}
