@import '../variables.scss';

.btn-tab {
	background-color: #333333 !important;
	width: 150px;
	height: 35;
	text-align: left !important;
	@media (max-width: 615px) {
		span {
			display: none;
		}

		svg {
			width: 1.6875rem !important;
			height: 1.6875rem !important;
		}
	}
}

.btn.active {
	background-color: $primary-color !important;
	border-color: $primary-color !important;
	box-shadow: none !important;
}

.container-tabs-content {
	background-color: white;
	height: 100%;
	// width: 100% !important;
	// margin: 3px !important;
	margin-top: 0 !important;
	padding: 0 !important;
}

.container-buttons-tab {
	display: flex;
	width: 70%;
}

.tabs {
	display: flex;
	flex-direction: column;
}

.buttons-wrapper {
	display: flex;
	justify-content: space-between;
}

.info-button {
	border-radius: 0px !important;
	background-color: $primary-color !important;
	border: none !important;
	flex-grow: 0 !important;
	// height: 75%;
	padding: 2px 4px 4px 4px !important;
	align-self: flex-end;
	width: auto;
}
