$primary-color: rgba(228, 226, 226, 0.788);

.timeline__wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 86%;
  margin-left: 5%;
  height: 180px;
  margin-top: 3px;
}

.buttonsWrapper {
  display: flex;
  width: 15%;
  min-width: 15%;
  height: 100%;
  flex-wrap: wrap;
  // flex-direction: column;
}

.timeline {
  width: 85%;
  height: 100%;

  position: relative;

  overflow-y: hidden;
  overflow-x: hidden;
}

.timeline__video-invisible {
  height: 100%;
}

.btnContainer {
  background-color: rgb(53, 52, 52);
  color: white;

  height: 38%;
  width: 100%;

  /* to align text and icon*/
  display: flex;
  justify-content: space-around;
}

.blackbox {
  width: 100%;
  height: 20%;
  background-color: rgb(53, 52, 52);
  // margin-bottom: 3px;
}

.btnContainer__button {
  fill: rgb(0, 174, 255);
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btnContainer__button:hover {
  transform: scale(1.5);
}

.btnContainer__left {
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.btnContainer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btnContainer__icon {
  height: 1.5rem;
  width: 1.5rem;
}

.btnContainer__text {
  margin-left: 1rem;
}

.btnContainer__text--smallMargin {
  margin-left: 0.5rem;
}

.timeline__video {
  background-color: $primary-color;
  height: 38%;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 2px;
  position: relative;

  // overflow-y: hidden;
  // overflow-x: hidden;
}

.timeline__chapter {
  width: 100%;
  height: 38%;
  z-index: -10;
  background-color: $primary-color;
  position: relative;

  // overflow-y: hidden;
  // overflow-x: hidden;
}

.blueStick {
  position: absolute;
  background-color: #2196f3;
  z-index: 200;
  top: -15px;
  height: 12rem;
  width: 2px;
  overflow-y: visible;
  /* padding-bottom: 30px;
      margin-bottom: -30px; */
}

.blueStick:hover {
  cursor: pointer;
}

.scene-limiter {
  // height: 3.9rem;
  height: 100%;
  width: 5px;
  background-color: #2196f3;
}

.scene-content {
  background-color: #80b9e7;
  position: absolute;
  text-align: center;
  height: 100%;
  display: flex;
}
