.test-header {
  // display: flex;
  width: 100%;
  height: 20%;

  background-color: rgb(53, 52, 52);
  color: white;

  // overflow-y: hidden;
  // overflow-x: hidden;
  // white-space: nowrap;
}

.timeIndicator--blackbox {
  width: 15%;
  min-width: 15%;
  background-color: rgb(53, 52, 52);
}

.timeIndicator__container {
  height: 20%;
  background-color: rgb(53, 52, 52);
  top: 0;
  color: white;
  // height: 100%;
  position: relative;

  // display: flex;
}

.timer-vertical-whitebar {
  position: absolute;
  height: 7px;
  width: 2px;
  bottom: 0;
  background-color: white;
}

.timer-vertical-whitebar--big {
  height: 15px;
  width: 3px;
}
