@import '../variables.scss';

.wrapper {
  height: 30vh;
  display: flex;
  background-color: $video-bg;
  padding: 4px;
}

.videoPlayer {
  height: 100% !important;
  width: 100% !important;
}

.space {
  width: 8px;
}
