@import '../../variables.scss';

.control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
	background-color: $dark-gray;
	color: $text-light;
	font-size: 0.75rem;
	height: 40px;

	div:nth-child(1) {
		width: 20%;
		text-align: start;
	}

	div:nth-child(2) {
		// width: 20%;
		text-align: center;
		align-items: center;
	}

	div:nth-child(3) {
		width: 20%;
		text-align: end;
	}
}

.range {
	display: flex;
	width: 100%;
	height: 5px;
	background-color: #fff;
	position: relative;
}

.chapterIndicator {
	height: 10px;
	width: 10px;
	position: absolute;
	z-index: 1;
	background-color: $chapter-indicator-color;
	border-radius: 8px;
	transform: translateY(-25%);
}

.played {
	background-color: $primary-color;
	width: 30%;
}

.fullscreenIcon {
	transform: scale(1.5);
	margin-left: 8px;
}

.button {
	transition: all 200ms;
	height: 40px;

	&:hover {
		color: $primary-color;
	}
}

.slider {
	-webkit-appearance: none;
	width: 60px;
	height: 6px;
	border-radius: 5px;
	background: #fff;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
// circle
.slider::-webkit-slider-thumb {
	// -webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #009bff;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #009bff;
	cursor: pointer;
}

.volumeArea {
	position: absolute;
	left: -31px;
	top: -55px;
	z-index: 3;
	transform: rotate(270deg);
	width: 80px !important;
	display: flex;
	justify-content: flex-end;

	background-color: $dark-gray;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	visibility: hidden;

	&:hover {
		visibility: visible;
	}
}

.volumeWrapper {
	position: relative;
	&:hover {
		.volumeArea {
			visibility: visible;
		}
	}
}
