.timeIndicator__container {
  height: 25%;
  background-color: rgb(53, 52, 52);
  top: 0;
  color: white;
  position: relative;
  font-size: 0.8rem;
}

.timer-vertical-whitebar {
  position: absolute;
  height: 7px;
  width: 2px;
  bottom: 0;
  background-color: white;
}

.timer-vertical-whitebar--big {
  height: 15px;
  width: 3px;
}
