

.react-mde {
  margin-top: 2.7% !important;
}

.text-area {
  background-color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 22px !important;
  margin-top: 0;
  border: none !important;
}

.preview {
  height: 55px;
  font-size: 0.7em !important;
}

.toolbar {
  border: none !important;
}


.textarea-comment {
  padding: 5px 5px;
  border: 2px solid #eee;
  background: #ececec;
  outline: none;
  width: 100%;
  resize: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 22px;
  margin-top: 0;
}

.contentarea-comment {
  background-color: white !important;
}



