.custom-slider__input {
	-webkit-appearance: none;
}

.custom-slider__input {
	width: 100%;
}

.custom-slider__input::-webkit-slider-runnable-track {
	padding: 1px;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 6px rgba(80, 80, 80, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(80, 80, 80, 0.3);
	background: #666666;
	border: none;
	border-radius: 3px;
}

.custom-slider__input::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 2vh;
	box-shadow: inset 0 0 6px rgba(80, 80, 80, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(66, 62, 62, 0.3);
	background: #d3d3d3;
}

.custom-slider__input:focus {
	background-color: #666666;
	outline: none;
}

.custom-slider__input:focus::-webkit-slider-runnable-track {
	background: #666666;
}

.carousel-container-with-scrollbar {
	width: 100%;
	padding-bottom: 3vh;
}

.custom-slider {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.root-slider {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.slider-image-item {
	padding: 0 20px 10px 0;
}

.zero-chapters {
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.custom-slider__input100::-webkit-slider-thumb {
	width: 100%;
}

.custom-slider__input20::-webkit-slider-thumb {
	width: 20%;
}

.custom-slider__input30::-webkit-slider-thumb {
	width: 30%;
}

.custom-slider__input40::-webkit-slider-thumb {
	width: 40%;
}

.custom-slider__input50::-webkit-slider-thumb {
	width: 50%;
}

.custom-slider__input60::-webkit-slider-thumb {
	width: 60%;
}

.custom-slider__input70::-webkit-slider-thumb {
	width: 70%;
}

.custom-slider__input80::-webkit-slider-thumb {
	width: 80%;
}
