.textField-label {
	font-size: 0.75rem;
	height: 2.5rem;
	padding: 0.3125rem 0.625rem 0rem 0.625rem;
	width: 100%;
	background: #ececec;
	cursor: pointer;
}

.editable-textField {
	font-size: 0.75rem !important;
	color: black !important;
	background: #ececec; // import default color
	height: 2.8125rem !important;
	width: 100%;
	padding: 0.3125rem 0.625rem 0rem 0.625rem !important;
}
