.arrow {
	position: relative;
	color: #0099ff !important; // import default color
	font-size: 3.5rem !important;

	&:hover {
		background: rgba(0, 0, 0, 0) !important;
	}

	&:focus {
		outline: none;
	}
}
