.video-div {
  background-color: gray;
  height: 50%;
  width: 100%;
}

.app {
  background-color: #333333;
  height: 100%;
  width: 100%;
  position: absolute;
}

.full {
  height: 100%;
  width: 100%;
}

.app-buttons {
  margin: 3px !important;
  color: white !important;
  border-radius: 0px !important;
}

.icon-btn {
  margin: 5px;
  margin-right: 10px;
}

.stepper-buttons-container {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stepper-container {
  display: flex;
  justify-content: center;
}

.app-buttons-container {
  display: flex;
  align-self: flex-end;
  position: absolute;
}

.edition-div {
  background-color: #f1f1f1;
  height: 50%;
}

.edition-div-container {
  height: 80%;
}
