.video-div {
  background-color: gray;
  height: 50vh;
  width: 100%;
}

.app {
  background-color: #333333;
  height: 100%;
  width: 100%;
  position: absolute;
}

.full {
  height: 100%;
  width: 100%;
}

.app-buttons {
  margin: 3px !important;
  color: white !important;
  border-radius: 0px !important;
  font-size: 0.875rem !important;
}

.icon-btn {
  margin: 5px;
  margin-right: 10px;
  @media (max-width: 615px){
    margin: 0px;
    margin-right: 0px;
  }
}

.stepper-buttons-container {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stepper-container {
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
}

.app-buttons-container {
  display: flex;
  align-self: flex-end;
  position: absolute;
  @media (max-width: 400px){
    margin-left: 10px !important;
  }
}

.edition-div {
  background-color: #f1f1f1;
  height: 50%;
}

.edition-div-container {
  height: 80%;
}

.app-home-buttons{
  @media (max-width: 615px){
    font-size: 1.5rem !important;
    svg {
      width: 1.6875rem !important;
      height: 1.6875rem !important;
    }
  }

  @media (max-width: 500px){
    font-size: 0.9rem !important;
    svg {
      width: 1rem !important;
      height: 1rem !important;
    }
  }

  @media (max-width: 400px){
    font-size: 0.5rem !important;
    svg {
      width: 0.7rem !important;
      height: 0.7rem !important;
    }
  }
}
