$dark-gray: #262626;
$video-bg: #525252;
$primary-color: #0099ff;

$text-light: #ffffff;

$timeline-color: rgba(228, 226, 226, 0.788);
$scene-limiter-width: 4px;
$scene-limiter-triangle-width: 9px;
$scene-limiter-color: #2196f3;
$scene-pseudo-margin-distance: 3px;
$scene-pseudo-top-distance: 35%;
$chapter-limiter-size: 0.35rem;

$chapter-indicator-color: #c4c4c4;
